<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444590355662-jt2h3oik0vpapbij0qge4vu72461rjdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444590355662-jt2h3oik0vpapbij0qge4vu72461rjdg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444590355662-05knb0vbmccj7nfi1v9it511khs7umga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxb6EcqR9xVX0ayW-cZG-KWyzQAsQfFio</string>
	<key>GCM_SENDER_ID</key>
	<string>444590355662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.objectDetection</string>
	<key>PROJECT_ID</key>
	<string>sharekhan-694fc</string>
	<key>STORAGE_BUCKET</key>
	<string>sharekhan-694fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444590355662:ios:f1c54810aed3480fec0c9f</string>
	<key>DATABASE_URL</key>
	<string>https://sharekhan-694fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>